/* GLOBAL */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #2b0606, #5a0d0d);
  color: #f5eaea;
}

/* MAIN APP */
.app {
  text-align: center;
  padding: 30px;
}

/* TITLE */
h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: #f8eaea;
}

/* TAGLINE */
.tagline {
  color: #d6caca;
  margin-bottom: 25px;
  font-weight: 300;
}

/* CONTAINER */
.container {
  max-width: 600px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.04); /* darker glass */
  padding: 25px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.6);
}

/* SEARCH */
.search {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  margin-bottom: 20px;
  outline: none;
}

/* SONG ITEM */
.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.06);
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
  transition: 0.25s;
}

/* HOVER */
.song-item:hover {
  transform: scale(1.03);
  background: rgba(255, 255, 255, 0.12);
}

/* ACTIVE */
.song-item.active {
  border: 1px solid #ff6b6b;
}

/* BUTTONS */
button {
  margin-left: 8px;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background: #7a1a1a;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff4d4d;
  transform: scale(1.05);
}

/* LIKE */
.song-item button:last-child {
  background: transparent;
  color: #ff6b6b;
  font-size: 18px;
}

/* PLAYER */
.player {
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

/* FOOTER */
.footer {
  margin-top: 40px;
  color: #cf2d2d;
}

.genres {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.genres button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.genres button:hover {
  background: #ff4d6d;
}

.active-genre {
  background: #ff4d6d !important;
}

.footer {
  margin-top: 30px;
  text-align: center;
  color: #ccc;
  padding-bottom: 20px;
}

.favorites-section {
  margin-top: 30px;
}

.favorites-section h2 {
  color: #fff;
  margin-bottom: 15px;
}
