.song-row {
  width: 100%;

  display: flex;

  justify-content: space-between;

  align-items: center;

  background: rgba(255, 255, 255, 0.05);

  padding: 18px 22px;

  border-radius: 18px;

  margin-bottom: 18px;

  transition: 0.3s ease;

  backdrop-filter: blur(10px);
}

.song-row:hover {
  background: rgba(255, 255, 255, 0.09);

  transform: scale(1.01);
}

/* LEFT */

.song-left {
  display: flex;

  align-items: center;

  gap: 18px;
}

/* MUSIC ICON */

.music-icon {
  width: 68px;

  height: 68px;

  border-radius: 18px;

  background: linear-gradient(135deg, #5c0011, #8b0000, #3d000c);

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 1.7rem;

  color: #ffd6de;

  box-shadow: 0 0 18px rgba(139, 0, 0, 0.45);
}

/* TEXT */

.song-left h3 {
  margin: 0;

  color: white;

  font-size: 1.1rem;
}

.song-left p {
  margin-top: 6px;

  color: #c9c9c9;
}

/* RIGHT */

.song-right {
  display: flex;

  align-items: center;

  gap: 16px;
}

.song-right span {
  color: #ff9dbb;

  font-weight: 500;
}

/* BUTTONS */

.song-right button {
  width: 42px;

  height: 42px;

  border-radius: 50%;

  border: none;

  cursor: pointer;

  background: rgba(255, 255, 255, 0.08);

  color: white;

  font-size: 1rem;

  transition: 0.3s ease;
}

.song-right button:hover {
  background: #8b0000;

  transform: scale(1.08);
}
